a{
    color: #567714;
}

h6{
    font-weight: 300;
}

.rowParent{
    margin-top: 8rem;
    margin-bottom: 4rem;
}

nav .brand-logo {
    padding-left: 15px;
}

.filter_section{
    position: absolute !important;
    left: 18%!important;
    top: 16%!important;
    background: #AA242B!important;
    height: 32vh!important;
    padding: 2em!important;
}
.waves-light{
    width: 100%;
}
.btn{
    background: #0D4D4D;
}
.btn:hover{
   background: #407F7F;
}
.card .card-content .card-title{
    font-weight: 800;
}
.event_list{
    margin-top: 8em;
}
.page-footer{
    padding: 0;
}
.sign_login{
    width: 65%;
    position: absolute;
    top: 32%;
    background: #AA242B!important;
    left: 19%;
    padding-top: 2em;
    padding-bottom: 2em
}
.delete_events{
    margin-top: 1em;
    font-size: 4em;
}

.col.s8.form{
    float: none;
    margin: 0 auto;
}

.event_detail{
    padding: 40px 15px;
    border-bottom: 2px solid;
}

.card.horizontal .card-image {
    max-width: 72%;
}

.card.horizontal .card-stacked .card-content{
    margin-top: 40%;
}

.card.horizontal .card-stacked .card-content .btn{
    margin-top: 64px;
}

@media only screen and (min-width: 960px){
    .flow-text {
        font-size: 16px;
    }
}

/* media queries */
@media only screen and (max-width: 1080px){
    .filter_section {
        position: absolute !important;
        left: 18%!important;
        top: 8%!important;
        background: #AA242B!important;
        height: 17vh!important;
        padding: 2em!important;
}
}
@media only screen and (max-width: 992px){
    .filter_section {
        position: relative !important;
        left: 0%!important;
        top: 6%!important;
        background: #AA242B!important;
        height: 32vh!important;
        padding: 2em!important;
    }
    .event_list {
        margin-top: 8em;
    }
}
@media only screen and (max-width: 770px){
    .event_list {
        margin-top: 24em;
    }
    .filter_section {
        width: 80%!important;
        position: absolute !important;
        left: 10%!important;
        top: 14%!important;
        background: #AA242B!important;
        height: 20vh!important;
        padding: 2em!important;
    }
}
@media only screen and (max-width: 600px){
    .filter_section {
        width: 80%!important;
        position: absolute !important;
        left: 10%!important;
        top: 14%!important;
        background: #AA242B!important;
        height: 27vh!important;
        padding: 2em!important;
    }
    .event_list {
        margin-top: 28em;
    }
}
@media only screen and (max-width: 425px){
    .filter_section {
        width: 100%!important;
        position: relative !important;
        left: 0%!important;
        top: 6%!important;
        background: #AA242B!important;
        height: 48vh!important;
        padding: 2em!important;
    }
    .event_list {
        margin-top: 8em;
    }
    
}
@media only screen and (max-width: 320px){
    nav .brand-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }
    .filter_section {
        position: relative !important;
        left: 0%!important;
        top: 6%!important;
        background: #AA242B!important;
        height: 48vh!important;
        padding: 1em!important;
    }
}